<script setup lang="ts">
defineProps<{
  toggleLeftDrawer: boolean;
}>();

const emit = defineEmits<{
  (e: 'update:toggle-left-drawer', newValue: boolean): void
}>();
</script>

<template>
  <QHeader bordered class="bg-primary text-white">
    <QToolbar>
      <QBtn dense flat round icon="mdi-menu" @click="emit('update:toggle-left-drawer', !toggleLeftDrawer)"/>

      <QToolbarTitle>
        <QAvatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
        </QAvatar>
        Title
      </QToolbarTitle>
    </QToolbar>
  </QHeader>
</template>
