<template>
  <div>
      <form action="">
          <label for="user">username</label>
          <input v-model="data.user" type="text" name="user" id="user" />
          <label for="pass">password</label>
          <input v-model="data.pass" type="password" name="pass" id="pass" />
          <button @click="send">Submit</button>
      </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import _axios from "@/plugins/axios";
export default defineComponent({    
    name:'SignUpForm',
    data(){
        return {
            data: {
                user:'',
                pass:'',
            }
        }
    },
    methods: {
        send():void{
            console.log('t')
            _axios.post('/login', this.data)
        },
    },
})
</script>

<style>

</style>